* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  margin:40px;
  text-align: center;
}
.card{
  background: linear-gradient(145deg, #47d4ff, #cf33ff);
  color: white;
}
button{
  background: linear-gradient(145deg, #47d4ff, #cf33ff);
  opacity: 0.9;
}


